<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xuan.qingya">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".QingYaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Modules.Splash.SplashActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Modules.Startup.StartupActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Modules.Main.MainActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity
            android:name=".Modules.Interview.InterviewDetailActivity"
            android:theme="@style/Theme.Animation.Transparent" />
        <activity android:name=".Modules.Discover.List.DiscoverListActivity" />
        <activity
            android:name=".Modules.Discover.Detail.DiscoverDetailActivity"
            android:theme="@style/Theme.Animation.Transparent" />
        <activity android:name=".Modules.Profile.ProfileActivity" />
        <activity android:name=".Modules.Settings.Account.AccountSettingsActivity" />
        <activity android:name=".Modules.Settings.General.SettingsActivity" />
        <activity
            android:name=".Modules.Fab.FabActivity"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".Modules.Search.SearchActivity"
            android:label="@string/title_activity_search"
            android:theme="@style/Theme.Search"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".Modules.Discover.Banner.BannerActivity" />
    </application>

</manifest>